mixin trimLink(url, linkText)
	a(target="_blank", href=url)!= linkText ? linkText : removeHttp(url)

-
	function removeHttp(url) {
		if (url.startsWith('https://')) {
			const https = 'https://';
			return url.slice(https.length);
		}

		if (url.startsWith('http://')) {
			const http = 'http://';
			return url.slice(http.length);
		}
		
		return url;
	}
	
mixin linkInfo(linkHref)
	button.btn-clean(type="button" data-bs-toggle="popover"
		data-bs-trigger="click"
		data-bs-title="awwwards"
		data-bs-html="true"
		data-bs-content=`<div>honorable mention + mobile excellence</div><div><a href=${linkHref} target='_blank'>more</a></div>`)
		i.bi-info-square(style="font-size: 16px; color: #0dcaf0")
